@charset "UTF-8";
 

.cabecalho{
	background-color:darkgray;
	border-radius: 5px;

}

body {
	font-family: verdana;
	margin-left: 10px;
	background-color: white;
	
}

.descricaogeral{
	text-align: center;
	font-size: 15px;
}
	
h1 {
  text-align: center;
  padding: 5px;
  
}
h2{
	background-color: darkgray;
	border-radius: 5px;
	padding: 10px;
}

h3{
  text-align: center;
  background-color: lightgray;
  border-radius: 5px;
}

.formatarparagrafo{
  font-family: verdana;
  font-size: 20px;
  justify-content: center;
}

.menu{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-size: 15px;
	cursor: pointer;
	list-style: none;
	padding: 5px;
}

.div-cards{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	
}

.container-pai{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

.artigo{
	
	width: 20%;
}



.foto{
	height: 160px;
	width: 160px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	border-radius: 50%;
}

.fotoportifolio{
	width: 100%;
  margin: auto;
  display: block;
  border-radius: 5px;
}
footer{
	background-color: darkgray;
}